<div class="container">
   <div class="footer__section">
 
     <div class="social__dl">
       <div class="social">
         <p class="social__text">FOLLOW US</p>
   
         <ul class="social__list">
           <li class="social__item">
             <a
               class="social__link"
               href="https://www.instagram.com/goit.philippines/"
               target="_blank"
               rel="noreferrer noopener nofollow"
               aria-label="Instagram"
             >
               <svg class="social__icon" width="25" height="25">
                 <use href="./images/svg/sprite.svg#instagram"></use>
               </svg>
             </a>
           </li>
   
           <li class="social__item">
             <a
               class="social__link"
               href="https://www.facebook.com/goit.philippines/"
               target="_blank"
               rel="noreferrer noopener nofollow"
               aria-label="Facebook"
             >
               <svg class="social__icon" width="25" height="25">
                 <use href="./images/svg/sprite.svg#facebook"></use>
               </svg>
             </a>
           </li>
   
           <li class="social__item">
             <a
               class="social__link"
               href="https://www.youtube.com/@GoIT_philippines"
               target="_blank"
               rel="noreferrer noopener nofollow"
               aria-label="YouTube"
             >
               <svg class="social__icon" width="30" height="30">
                 <use href="./images/svg/sprite.svg#youtube"></use>
               </svg>
             </a>
           </li>
         </ul>
       </div>

       <div class="app">
         <p class="app__text">INSTALL HERE</p>
   
         <ul class="app__list">
           <li class="app__item">
             <a
               class="app__link"
               href="https://apps.apple.com/us/app/disney/id1446075923"
               target="_blank"
               rel="noreferrer noopener nofollow"
               aria-label="App Store"
             >
               <svg class="app__icon" width="35" height="30">
                 <use href="./images/svg/sprite.svg#app-store"></use>
               </svg>
             </a>
           </li>
   
           <li class="app__item">
             <a
               class="app__link"
               href="https://play.google.com/store/search?q=disney%2B&c=apps"
               target="_blank"
               rel="noreferrer noopener nofollow"
               aria-label="Google Play"
             >
               <svg class="app__icon" width="35" height="25">
                 <use href="./images/svg/sprite.svg#google-play"></use>
               </svg>
             </a>
           </li>
         </ul>
       </div>
     </div>
     <div class="footer-box">
      <p class="footer-box__text">&#x000A9; 2024 | All Rights Reserved |</p>
      <p class="footer-box__text developers">
         <span class="footer-box__text--after">Developed with</span>
         <span>By</span>
         <a class="footer__link" id="footer-modal-link" href="#">GoIT
            Students</a>
      </p>
   </div>
   </div>
   </div>