
<div class="trending--movies__title">Trending Movies</div>
<div class="images glide">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            <!-- Insert slides pics -->
        </ul>
    </div>

    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">&#5130;</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">&#5125;</button>
    </div>
</div>